html
  head
    style
    script(src="a.js")
    link(href="a.css", ref="stylesheet")
  body
    div.box
      aaa
      span bbb
      ul
        li
          input(type="text", id="txt1", value="文本输入框")
        li
          a(href="https://www.imooc.com/") 慕课官网
        li
    div#div1
