html
  head
    style
    script(src="a.js") alert("abc");
  body
    div(style= "width: 100px; height: 100px; color: red")
      abc
      span xxx
      ul(class= "aaa left-warp hide")
        li
          input(type="text", id="txt1", value="文本输入框")
        li
          a(href="https://www.imooc.com/") 慕课官网
        li
    div(style= {width: '100px', height: '100px', color: 'blue'})
    div(class= ['aaa', 'active', 'hide'])
    div(title="aaa", id="div1")
    div&attributes({title: 'aaa', id: 'div2'})
